
@font-face {
    font-family: 'MainBoldFont';
	src: url(../fonts/15352.ttf);}

@font-face {
    font-family: 'ButtonsFont';
	src: url(../fonts/test.ttf);}

@font-face {
    font-family: 'logofont';
	src: url(../fonts/logofont.otf);}

*{
    margin: 0;
    padding: 0;
}

body{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-width: 900px;
}

header{
	height: 5.8vw;
	width: 100vw;
	background-color: #142142;
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	z-index: 2;
	overflow: hidden;
}

main{
	background-color: #111b33;
	height: 100vh;
	width: 100vw;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
}

.header_buttons_cont{
	margin-left: 54.5vw;
}

.header_buttons{
	font-size: 1.4vw;
	font-family: ButtonsFont;
	color: #b8d9ff;
	border: 2px solid #b8d9ff;
	border-radius: 6px;
	padding: 1vh;
	margin:0.7vw;
}

.click_logo{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 3.5vw;

}
.header_minilogo{
	color: white;
	font-family: logofont;
	padding: 0.7vw;
	font-size: 3.5vw;
	cursor: pointer;
}

.header_minilogo > img{
	width: 3vw;
	cursor: pointer;
}

.main_background_circle{
	position: absolute;
	width: 50%;
	right: 0%;
	bottom: 0%;
	z-index: 1;
}

.main_column_1{
	font-size: 2.2vw;
	color: white;
	display: flex;
	flex-direction: column;
	flex-shrink:0;
	padding-top: 12vw;
	margin-left: -2.5vw;
}


.Larger_text {
	font-size: 3vw;
}

.main_column_1_in{
	padding: 1vw;
	font-family: MainBoldFont;
}

.main_column_1_in_fields{
	display: inline-flex;
}


#registration_button{
	width: 16vw;
	height: 3.1vw;
	font-size: 1.35vw;
	font-weight: bold; 
	background-color: #78A7EB;
	border-radius: 6px;
	font-family: ButtonsFont;
	border: none;
}

#registration_inputtype{
	width: 30vw;
	height: 1vw;
	border-radius: 6px;
	padding: 1vw;
	margin-right: 0.5vw;
	font-size: 1.5vw;
	border: none;
}

.main_column_2{
	padding-top: 5vw;
	z-index: 2;
	margin-left: 5vw;
}

.main_column_2 > img{
	width: 25vw;
}


a{
	text-decoration: none;
}


#registration_button:hover{

  background-color: #ffa947;
  transition: all 0.3s;
}



@media (max-width : 900px) {
	main{flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

	}
	html{
		background-color: #111b33;
		overflow: hidden;
	}

	header{
		max-width: 900px;
		height: 7vw;
	}

	.main_column_1{
		font-size:3.5vw;
		margin-left:7.5vw;
		z-index: 2;
	}

	.Larger_text {
		font-size: 5vw;
	}


	.main_column_2 >img {
		display:none;
	}

	.main_background_circle{
		width: 80%;
		z-index:1;
	}

	#registration_button{
		width: 26vw;
		height: 4.5vw;
		font-size: 2vw;
		/*padding-bottom: 0.4vw;*/
	}

	#registration_inputtype{
	width: 45vw;
	height: 2.4vw;
	border-radius: 6px;
	font-size: 2vw;
	}

	.header_minilogo{
		font-size: 5vw;
	}
	.header_minilogo > img {
		width: 5vw;
	}

	.header_buttons_cont{
		margin-left: 39vw;
	}

	.header_buttons{
		font-size: 1.7vw;
		padding:1vw;
	}

}



/*.vl {
    border-left: 2px solid green;
    height: 100vh;
    position: absolute;
    top: 0;
}
*/
